html, body
{
	margin:0;
	padding: 0;
}

body
{
  background: url(../Image/image-de-fond.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

p
{
	font-size : 24px;
	color: white;
}

.croix
{
    text-align: right;
}